// @import '../../../scss/variables';
.blog {
  padding: 0 13vw;

  &__header {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__titles {
    width: 50%;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__button {
    background-color: #fff;
  }
}

@media (max-width: 1681px) {
  .blog {
    padding: 0 8vw;
  }
}

@media (max-width: 1441px) {
  .blog {
    .post {
      width: 47%;
      &__content {
        padding: 40px 50px 50px;
        bottom: -120px;
      }
    }
  }
}

@media (max-width: 1025px) {
  .blog {
    .posts {
      flex-direction: column;
      align-items: center;
    }
    .post {
      width: 70%;
      &__content {
        bottom: -25%;
        left: 35px;
      }
    }
  }
}

@media (max-width: 769px) {
  .blog {
    &__header {
      flex-direction: column;
    }

    &__titles {
      width: 100%;
    }
    &__button {
      margin: 0 auto;
    }
    .post {
      width: 90%;
    }
  }
}

@media (max-width: 481px) {
  .blog {
    .post {
      &__content {
        padding: 15px;
        left: 5%;
        bottom: -30%;
      }
      &__text {
        display: none;
      }
    }
  }
}

@media (max-width: 321px) {
  .blog {
    .post {
      margin-bottom: 10px;
      &__picture {
        display: none;
      }
      &__content {
        position: initial;
        width: 100%;
      }
      &__button {
        margin: 0 auto;
        width: 90%;
      }
    }
  }
}
