.categories {
  text-align: center;

  &__titles {
    margin-bottom: 40px;
  }
  &__products {
    padding: 0 13vw;
  }
  &__button {
    margin: 80px auto 0;

    &_hide {
      display: none;
    }
  }
}

@media (max-width: 1681px) {
  .categories {
    &__products {
      padding: 0 8vw;
    }
  }
}
