// @import '../../../scss/variables';
.blog {
  padding: 0 13vw;

  &__header {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__titles {
    width: 50%;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__button {
    background-color: #fff;
  }
}

@media (max-width: 1681px) {
  .blog {
    padding: 0 8vw;
  }
}

@media (max-width: 769px) {
  .blog {
    &__header {
      flex-direction: column;
    }

    &__titles {
      width: 100%;
    }
    &__button {
      margin: 0 auto;
    }
  }
}



