.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px;
}

.post {
  position: relative;
  margin-bottom: 100px;
  width: 675px;
}
.post__picture {
  position: relative;
}
.post__image {
  max-width: 677px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  border-radius: 30px;
}
.post__date {
  position: absolute;
  top: 45px;
  left: 35px;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post__content {
  position: absolute;
  padding: 46px 57px 60px;
  bottom: -65px;
  left: 35px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 35px rgba(167, 167, 167, 0.25);
          box-shadow: 0 20px 35px rgba(167, 167, 167, 0.25);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.post__content:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.post__authour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.post__button {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.post__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1441px) {
  .post {
    width: 47%;
  }
  .post__content {
    padding: 40px 50px 50px;
    bottom: -120px;
  }
}
@media (max-width: 1025px) {
  .post__content {
    bottom: -40%;
    left: 5%;
  }
  .post__content:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .post__content:hover .post__text {
    display: block;
  }
  .post__text {
    display: none;
  }
}
@media (max-width: 769px) {
  .posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post {
    width: 80%;
  }
  .post__content {
    bottom: -25%;
    left: 35px;
  }
  .post__content:hover {
    -webkit-transform: none;
            transform: none;
  }
  .post__text {
    display: block;
  }
}
@media (max-width: 481px) {
  .post__content {
    padding: 15px;
    left: 5%;
    bottom: -50%;
  }
  .post__content:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .post__content:hover .post__text {
    display: block;
  }
  .post__text {
    display: none;
  }
}
@media (max-width: 321px) {
  .post {
    margin-bottom: 10px;
  }
  .post__picture {
    display: none;
  }
  .post__content {
    position: initial;
    width: 100%;
  }
  .post__button {
    margin: 0 auto;
    width: 90%;
  }
  .post__button::after {
    width: 0;
    height: 0;
  }
}/*# sourceMappingURL=Posts.css.map */