.shop {
  &__header {
    background-image: url(../../images/pages/shop/background_pattern.svg), url(../../images/pages/shop/background__image_left.svg), url(../../images/pages/shop/background__image_right.svg);
    background-position: center, top left, top right;
  }

  &__products{
    padding: 0 13vw;
  }
}

@media (max-width: 1281px) {
  .shop {
    &__products {
      padding: 0 5vw 5vh;
    }
  }
}