.textH1 {
  color: #274c5b;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  font-weight: 800;
  font-size: 70px;
}

.textH2 {
  color: #274c5b;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.textH3 {
  color: #274c5b;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  font-weight: 800;
  font-size: 40px;
}

.textH4 {
  color: #274c5b;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  font-weight: 800;
  font-size: 35px;
}

.textH5 {
  color: #274c5b;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.textH6 {
  color: #274c5b;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  font-weight: 800;
  font-size: 25px;
}

.italic {
  color: #68A47F;
  font-family: "Yellowtail", "Satisfy", "Pacifico", cursive;
  font-size: 36px;
}

.paragraph {
  font-family: "Open Sans", "Lato", "Source Sans Pro", "Montserat", sans-serif;
  color: #525c60;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
}

.quotes {
  font-family: "Open Sans", "Lato", "Source Sans Pro", "Montserat", sans-serif;
  color: #274c5b;
  font-weight: 700;
  font-size: 20px;
  line-height: 165%;
  text-align: center;
}

.default-button {
  position: relative;
  width: 220px;
  height: 80px;
  font-family: "Roboto", "Open Sans", "Lato", "Montserat", sans-serif;
  border: none;
  border-radius: 16px;
  font-weight: 700;
  font-size: 20px;
}
.default-button::after {
  position: absolute;
  content: "";
  top: 30px;
  right: 25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url(../images/arrow.png), #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}
.default-button_white {
  background-color: #f9f8f8;
  border: solid 1px #274c5b;
}
.default-button_yellow {
  background-color: #efd372;
  color: #274c5b;
}
.default-button_dark {
  background-color: #274c5b;
  color: #f9f8f8;
}

.banner {
  padding-left: 14vw;
  height: 898px;
  background: url(../../../images/banner__background.svg), url(../../../images/banner__image.png);
  background-position: left top;
  background-repeat: no-repeat;
}
.banner__content {
  padding-top: 15%;
  width: 530px;
}
.banner__subtitle {
  margin-bottom: 10px;
}
.banner__title {
  margin-bottom: 25px;
}

.offer-banner {
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer-banner__item {
  padding-left: 55px;
  height: 367px;
  width: 682px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-banner__item_natural {
  color: #f9f8f8;
  background-image: url(../../../images/offer-banner__natural.svg);
}
.offer-banner__item_offer {
  background-image: url(../../../images/offer-banner__offer.svg);
}
.offer-banner__content {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}/*# sourceMappingURL=Banner.css.map */