.about-us-page {
  &__header {
    background-image: url(../../images/pages/aboutUsPage/background__patterns.svg),
      url(../../images/pages/aboutUsPage/background__image_right.svg),
      url(../../images/pages/aboutUsPage/background__image_left.svg);
    background-position:
      center,
      top right,
      top left;
  }
}
.main-info {
  padding: 25px 10vw 10px 3vw;
  display: flex;
  justify-content: space-between;

  &__picture {
    width: 50%;
  }

  &__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__text {
    :first-child {
      margin-bottom: 25px;
    }
  }

  &__points {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
  }

  &__point {
    position: relative;
    display: flex;
    gap: 10px;
  }

  &__icon {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff4cd;
      z-index: 10;
    }
  }
}

.whyus {
  padding: 10vh 13vw;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__content {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__points {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__point {
    &__title {
      position: relative;
      padding: 29px 0 29px 55px;
      margin-bottom: 15px;
      height: 80px;
      width: 340px;
      font-size: 20px;
      background-color: #ececec;
      border-radius: 49px;

      &::after {
        position: absolute;
        content: "";
        top: 31px;
        left: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: $light-green 4px solid;
        background-color: #ececec;
        z-index: 10;
      }
    }

    &__text {
      padding-left: 55px;
    }
  }
  &__picture {
    width: 45%;
    max-width: 678px;
  }
  &__image {
    border-radius: 30px;
    width: 100%;
  }
}

.options {
  padding: 0 10vw 10vh 10vw;
  background-color: $white;

  &__list {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 22%;
    height: 335px;
    padding: 50px 35px 19px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
  }

  &__pic {
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 18px;
  }
}

.team {
  padding: 10vh 12vw;
  text-align: center;

  &__titles {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  &__description {
    width: 60%;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__person {
    border-radius: 30px;
    width: 33%;
    height: fit-content;
    background-color: $white;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 29px 44px rgba(150, 150, 150, 1);
      .team__details {
        background-color: #fff;
      }
    }
  }

  &__photo {
    border-radius: 30px 30px 0 0;
    width: fill-available;
  }

  &__details {
    padding: 35px 25px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-template-areas:
      "team__name ."
      "team__position team__links";
    text-align: left;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0 0 30px 30px;
  }

  &__name {
    grid-area: team__name;
  }
  &__links {
    grid-area: team__links;
    display: flex;
    gap: 15px;
    justify-content: right;
  }
  &__position {
    grid-area: team__position;
    font-size: 22px;
  }
}

.we-offer {
  padding: 15vh 12vw;
  background-color: $dark-blue;

  &__titles {
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    color: #fff;
  }

  &__categories {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__category {
    width: 24%;
  }

  &__name {
    margin-top: 25px;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }

  &__pic {
    width: auto;
    height: 314px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
  }

  &__image {
    width: fill-available;
    height: 100%;
    border-radius: 30px;
  }
}

@media (max-width: 1681px) {
  .main-info {
    &__picture {
      margin-left: -10%;
    }
  }
}

@media (max-width: 1441px) {
  .main-info {
    padding-right: 5vw;
    &__picture {
      margin-left: -20%;
    }
  }
  .whyus {
    padding: 10vh 5vw;
  }
  .options {
    &__list {
      padding: 0 5vw;
    }
  }
  .team {
    &__details {
      grid-template-rows: 2fr 1fr;
    }
  }
}

@media (max-width: 1025px) {
  .main-info {
    padding-right: 2vw;
    &__picture {
      margin-left: -50%;
    }
    &__content {
      width: 55%;
    }
  }
  .whyus {
    &__points {
      width: 220%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .options {
    padding: 0 5vw 10vh 5vw;
    &__list {
      padding: 0;
    }
  }
  .we-offer {
    &__pic {
      height: 200px;
    }
  }
}

@media (max-width: 769px) {
  .main-info {
    &__picture {
      margin-left: -90%;
    }
    &__content {
      width: 65%;
    }
    &__points {
      margin-left: -20%;
    }
  }
  .whyus {
    &__image {
      margin-top: 30%;
    }
    &__points {
      width: 200%;
      flex-direction: column;
    }
  }
  .options {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    &__item {
      width: 45%;
    }
  }

  .team {
    padding: 10vh 5vw;
    &__list {
      align-items: center;
    }
    &__details {
      padding: 25px 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  .we-offer {
    &__pic {
      height: 150px;
    }
  }
}

@media (max-width: 481px) {
  .main-info {
    &__image {
      display: none;
    }
    &__content {
      width: 100%;
      flex-direction: column;
    }
    &__points {
      margin-left: 0;
    }
  }
  .whyus {
    flex-direction: column;
    &__content {
      width: 100%;
    }
    &__points {
      width: 100%;
    }
    &__picture {
      width: 100%;
    }
    &__image {
      margin: 0;
    }
  }
  .team {
    &__list {
      flex-direction: column;
    }
    &__person {
      width: 80%;
    }
  }
  .we-offer {
    &__categories {
      flex-direction: column;
      align-items: center;
    }
    &__category {
      width: 80%;
    }
    &__pic {
      height: 200px;
    }
  }
}

@media (max-width: 481px) {
  .main-info {
    &__points {
      flex-direction: column;
      gap: 10px;
    }
  }
  .whyus {
    &__point {
      &__title {
        width: 100%;
      }
    }
  }
  .options {
    &__item {
      height: auto;
      width: 80%;
      padding: 30px 20px 10px;
    }
  }
}
